h1,h2,h3,h4,h5,h6,p,figure
{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

.container
{
    width: 67%;
    max-width: 1000px;
    margin: 0 auto;
}

.menu_bar
{
    display: none;
}

header
{
    width: 67%;
    margin: 0 auto;
}

header nav
{
    background-color: #181818;
    display: flex;
    justify-content: space-around;
}

header li a
{
    transition: 0.35s;
    list-style-type: none;
}

header nav ul li
{
    display: inline-block;
}

header nav ul li a
{
    display: block;
    padding: 5px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-family: agency fb;
    font-size: 20px;
    margin: 0 10px;
}

header nav ul li a:hover
{
    background-color: #0775ca;
    transition: 0.2s;
}

header nav ul li a span
{
    margin-right: 8px;
}

.caret
{
    font-size: 12px;
    margin-left: 2px;
}

header nav ul li:hover .children
{
    display: block;
}

header nav ul li .children
{
    display: none;
    position: absolute;
    background-color: #181818;
    z-index: 1000;
}


header nav ul li .children a
{
    font-size: 1em;
    margin: 5px;
}

header nav ul li .children li a span
{
    float: right;
    position: relative;
    top: 7px;
    margin-right: 0;
    margin-left: 6px;
    font-size: 12px;
}

.barra-fixed
{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 67%;
    max-width: 910px;
    height: 50px;
    background-color: rgba(11, 14, 13, 0.9);
}

.barra-fixed ul li a
{
    padding: 2px 10px;
    margin: 0 auto;
    font-size: 16px;
    margin: 0 10px;
}

body
{
    background: url('../images/bg2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


main
{
    width: 100%;
}


#img-principal
{
    margin: 25px 0 45px;
    
}

#articulos
{
    min-height: 200px;
    margin-bottom: -50px;
}

#articulos article
{
    display: flex;
    padding-bottom: 40px;
    margin-bottom: 250px;
    background: rgba(0, 80, 255, 0.5); 
    padding: 10px;
}

.ancla
{
    margin-bottom: 100px;
}

.img-art
{
    width: 105%;
    position: relative;
    box-shadow: 0 0 10px #181818;
    cursor: pointer;
}

.cuerpo-art
{
    padding-left: 20px;
    padding-right: 10px;
    width: 70%;
}


.titulo-art
{
    font-variant: small-caps;
    line-height: 0.9em;
    font-size: 2.0em;
    font-family: agency fb;
    cursor: pointer;
    display: inline-block;
}

.titulo-art a
{
    text-decoration: none;
    color: black;
    transition: 0.35s;
}

.titulo-art a:hover
{
    transition: 0.35s;
    color: aqua;
}

.intro-art
{
    margin-top: 10px;
    text-align: justify;
    font-family: roboto;
    color: white;
}

.leer-mas
{
    margin: 5px 0 5px 0;
    padding: 3px;
    background-color: black;
    display: inline-block;
    border-radius: 20px;
    transition: 0.35s;
    cursor: pointer;
}

.leer-mas:hover
{
    background-color: #024c8b;
    transition: 0.35s;
}

.leer-mas p
{
    padding: 0 20px;
    color: white;
    font-family: agency fb;
}

#oculto
{
    display: none;
    color: white;
}

#oculto2
{
    display: none;
    color: white;
}

#oculto3
{
    display: none;
    color: white;
}

#oculto4
{
    display: none;
    color: white;
}

#ocultar
{
    display: none;
}

#ocultar2
{
    display: none;
}

#ocultar3
{
    display: none;
}

#ocultar4
{
    display: none;
}

article
{
    display: flex;
}


.flexible
{
    display: flex;
}

.redes-sociales
{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.redes-sociales a
{
    text-decoration: none;
    padding: 30px;
    color:white;
    font-size: 40px;
    font-family: agency fb;
}

.fb
{
    margin: 10px;
    padding: 0px;
    background-color: black;
    display: inline-block;
    border-radius: 200px;
    background-color: #444444;
    transition: 0.35s;
}

.tw
{
    
    margin: 10px;
    padding: 0px;
    background-color: black;
    display: inline-block;
    border-radius: 200px;
    background-color: #444444;
    transition: 0.35s;
}

.fb:hover
{
    margin: 0;
    padding: 40px;
    background-color: black;
    background-color: #0669b2;
    transition: 0.35s;
}

.tw:hover
{
    margin: 0;
    padding: 40px;
    background-color: black;
    background-color: #008aff;
    transition: 0.35s;
}

#pie
{
    min-height: 150px;
    color: white;
}

#politicas
{
    height: 40px;
    display: flex;
    justify-content: space-around;
    font-family: roboto;
    background-image: url(../images/barras-footer.png);
    background-size:  contain;
    background-repeat: no-repeat;
    color: black;
}

#politicas p
{
    font-size: 1em%;
    margin: 0 auto;
    font-size-adjust: 100%;
}


.text-center
{
    margin-top: 10px;
    font-family: roboto;
    justify-content: space-around;
    display: flex;
    text-align: center;
    color: black;
}

#img-footer
{
    background-image: url(../images/separador.jpg);
    background-repeat: no-repeat;
    height: 60px;
    width: 215px;
    margin: 0 auto;
    display: block;
}

.ir-arriba
{
    display: none;
    padding: 15px;
    font-size: 10px;
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: rgba(47, 129, 255, 0.5);
}

.ir-arriba:hover
{
    background-color: rgba(0, 107, 255, 0.6);
    transition: 0.35s;
}


@media screen and (max-width: 750px)
{
    .container
    {
        width: 100%;
        padding-top: 40px;
    }

    body
    {
        background: rgba(230, 232, 235, 1);
    }
    
    header
    {
        width: 100%;
        margin-bottom: 40px;
    }
    
    header nav
    {
        top: 70px;
        width: 70%;
        height: 100%;
        position: fixed;
        right: 100%;
        z-index: 1000;
    }
    
    header nav ul li
    {
        display: block;
        padding: 0;
    }
    
    header nav ul
    {
        padding: 0;
        width: 100%;
        margin: 0;
    }
    
    header nav ul li a
    {
        display: block;
        padding: 10px;
        border-radius: 0px;
        margin: 0;
    }
    
    header nav ul li:hover .children
    {
        display: block;
    }

    header nav ul li:hover .children
    {
        display: none;
    }
    
    header nav ul li .children
    {
        position: relative;
        background-color: #004E6F;
        z-index: 1000;
    }


    header nav ul li .children a
    {
        font-size: 12px;
        margin: 0;
        font-size: 16px;
    }

    header nav ul li .children li a span
    {
        float: right;
        position: relative;
        top: 8px;
        margin-right: 0;
        margin-left: 6px;
        font-size: 10px;
    }
    
    .barra-fixed
    {
        display: none;
    }
    
    .menu_bar
    {
        display: block;
        width: 100%;
        top: 0;
        position: fixed;
        background: #181818;
        z-index: 1000;
    }
    
    .menu_bar .btn-menu
    {
        display: block;
        padding: 20px;
        color: white;
        font-size: 20px;
        overflow: hidden;
        text-decoration: none;
    }
    
    .menu_bar span
    {
        float: right;
        font-size: 40px;
    }
    
    #articulos article
    {
        margin-bottom: 60px;
        display: block;
        width: 95%;
        background: rgba(0, 91, 195, 0.7);
    }
    
    #img-principal
    {
        margin: 0 0;
    }
    
    .img-art
    {
        max-width: 40%;
        max-height: 150px;
        margin: 0 auto;
        display: flex;
    }
    
    .cuerpo-art
    {
        padding-top: 15px;
        display: block;
        width: 95%;
        margin: 0 auto;
        justify-content: center;
        font-size: 0.9em;
    }
    
    .cuerpo-art a
    {
        font-size: 0.95em;
    }
    
    .redes-sociales
    {
        display: none;
    }
    
    #politicas
    {
        display: none;
    }
}